###
Vous disposez du jeu de donnée suivant sur les voiture.
Un data scientist souhaite créer un modèle pour estimer le prix d'une voiture.
N'ayant pas beaucoup de temps, il vous embauche pour faire le nettoyage de données car il n'a pas de temps pour s'occuper de cette tâche.
Il vous donne son entière confiance pour cette tâche fastidieuse.

Voici ce que contiennent les données: 

- id
- company: marque de la voiture
- color: couleur de la voiture:
- wheel-base-style-circum-diam: diamètre de la roue (cm)
- length: distance entre les roues avants et les roues arrières (cm)
- nbSeats: adresse email du propriétaire
- num-of-cylinders: nombre de cylindres
- horsepower: pussance de chevaux
- average-mileage: nombre de kilomètres parcourus
- price: le prix en euros



Questions:

1. Trouver et lister tous les problèmes dans ce jeu de données
2. Mettre en oeuvre toutes les méthodes de nettoyage pour obtenir le dataset le plus propre possible
3. Exporter sous format .csv le nouveau dataset clean


Questions Bonus (uniquement si vous avez finit les 3 premières questions):

1. Afficher le détail de toutes les voitures de marque Toyota
2. Si je possédais toutes les voitures estimables de ce dataset, à combien s'estimerait mon patrimoine automobile ?
3. Quelle est la couleur la plus répandue ?
4. Afficher le nom de la compagnie, le nombre de chevaux ainsi que le prix de la voiture la plus chère
5. Afficher le nombre de voitures par compagnie
6. Afficher pour chaque compagnie le prix de la voiture le plus élevé
8. Trier toutes les voitures par prix

#### Commentaire

In [ ]:
#df['horsepower'].value_counts()
#maxValues = df['wheel-base-style-circum-diam'].min()
#maxValues

In [ ]:
#df.count() / df.shape[0] * 100

In [ ]:
#df['average-mileage'].value_counts()

#df['average-mileage'].sum()/74
#df['color'].value_counts()
#df['color'].value_counts()

#df['Sum'] = df.sum(axis=1)
#print(df)

In [ ]:
#df['color'] = df['color'].str.replace('color-', '')
#df['color'] = df['color'].str.replace('blac', 'black')
#df['color'] = df['color'].apply(lambda x: x[6:] if 'color-' in x else x )
#df['color'] = df['color'].apply(lambda x: 'black' if 'blac' in str(x) else x )

In [ ]:
#df['cylinders'].value_counts()

In [31]:
#import numpy
#def change_string(x):
    #if str(x).startswith('color-'):
        #x = x.replace('color-', '')
    #else:
        #pass
    #return x
#df['color'] = df['color'].apply(lambda x: change_string(x))

In [ ]:
#df1.loc[df1['company'] == "Ford"].fillna(df1['price'].mean())
#df_ford["price"].mean()
#df_ford = df1.loc[df1['company'] == "Ford"]
##df1[df1['price'].isnull()] 
#df1[df1.isna().any(axis=1)]

#### Partie 1

In [1]:
import pandas as pd 

df = pd.read_csv('Automobiles.csv')

df.drop(["nbSeats", 'wheel-base-style-circum-diam', 'average-mileage'], inplace= True, axis=1)
df.rename(columns={"num-of-cylinders": "cylinders"}, inplace = True)

In [2]:
df['cylinders'] = df['cylinders'].replace(['two', 'twelve', 'five5', 'six6', '[four4', 'three', 'eight'],
                                          [2, 12, 5, 6, 4, 3, 8])

In [3]:
df['color'] = df['color'].apply(lambda x: x.replace('color-', '') if str(x).startswith('color-') else x)
df['color'] = df['color'].apply(lambda x: 'black' if 'blac' in str(x) else x )
#df['color'] = df['color'].apply(lambda x: x.replace('blac', 'black') if str(x).startswith('blac') else x)
df['length'] = df['length'].round(2)

In [4]:
df1 = df.copy()

In [5]:
df1['color'].fillna(method='bfill', inplace = True)

In [40]:
df1.loc[df1['price'].idxmax()]

id                   874
company       Land Rover
color             yellow
length            158.53
cylinders              6
horsepower           198
price            44945.0
Name: 873, dtype: object

In [19]:
df1.count() / df1.shape[0] * 100

id            100.0
company       100.0
color         100.0
length         97.9
cylinders     100.0
horsepower    100.0
price          95.6
dtype: float64

#### Partie 2

In [34]:
df.loc[df["company"] == "Toyota"]

      id company   color  length cylinders  horsepower    price
19    20  Toyota     red  168.21         4         212  23350.0
30    31  Toyota     red  176.47         6         119  13339.0
54    55  Toyota   black  168.29         6         216  37735.0
58    59  Toyota   black  173.63         5         213  29106.0
91    92  Toyota  yellow  164.21        12         188  44528.0
93    94  Toyota    blue  154.64         8         141   5435.0
143  144  Toyota     NaN  162.11         4         177  25267.0
223  224  Toyota     red  142.78         2         164  20065.0
232  233  Toyota     red  173.19         4         221   9548.0
237  238  Toyota    blue  144.94         6          63  36751.0
301  302  Toyota  yellow  179.31         3         177  42276.0
314  315  Toyota  yellow  141.51         3         174   7143.0
324  325  Toyota   black  188.41         5          61      NaN
355  356  Toyota     red  191.52       BuG         136  37574.0
360  361  Toyota    blue  179.56         3         135  15723.0
361  362  Toyota   black  149.55         4         131  18289.0
383  384  Toyota    blue  171.43         2          98  34184.0
388  389  Toyota    blue  193.83         8         163  10813.0
415  416  Toyota  yellow  195.08         4         223  15141.0
428  429  Toyota     red  196.97         4          91  10848.0
429  430  Toyota     red  202.68         2          92  39333.0
446  447  Toyota   black  149.46       BuG          93  14536.0
481  482  Toyota    blue  204.89         5          82   9820.0
499  500  Toyota    blue  169.07         5          74  41723.0
514  515  Toyota   black     NaN         8          58  38829.0
539  540  Toyota    blue  146.51         4         178  35049.0
544  545  Toyota     NaN  187.36         4         113   7467.0
576  577  Toyota  yellow  158.06         5          77  10680.0
583  584  Toyota   black  169.71        12         241  30977.0
586  587  Toyota   black  144.72         2         146  21394.0
593  594  Toyota     red  155.36         4         107      NaN
598  599  Toyota  yellow  199.28         5         108  15804.0
615  616  Toyota  yellow  164.78         4          83  29310.0
618  619  Toyota  yellow  177.41         3          60  19006.0
622  623  Toyota  yellow  187.61       BuG          76  36462.0
624  625  Toyota   black  193.08         6          67  29379.0
646  647  Toyota     red  179.55       BuG         160  27409.0
665  666  Toyota  yellow  164.05         8         133  39985.0
682  683  Toyota  yellow  174.48         4         105  43534.0
700  701  Toyota     red  183.58         3         103  25444.0
742  743  Toyota   black  207.73         2          96  19021.0
745  746  Toyota   black  151.21         5         109   7984.0
749  750  Toyota    blue  202.05         3         134  14492.0
751  752  Toyota   black     NaN       BuG         180  24697.0
761  762  Toyota    blue  173.99         4         126  30313.0
770  771  Toyota   black  175.58         2         125  40886.0
777  778  Toyota   black  172.94         2         107  15722.0
785  786  Toyota   black  146.87       BuG         127  26081.0
835  836  Toyota    blue  168.05         4         102  25105.0
998  999  Toyota     red  203.82         8         146  23414.0

In [37]:
df['price'].sum()

24000598.0

In [38]:
df['color'].value_counts()

red       265
black     231
yellow    218
blue      218
Name: color, dtype: int64

In [42]:
df.loc[df['price'].idxmax()]

id                   874
company       Land Rover
color             yellow
length            158.53
cylinders              6
horsepower           198
price            44945.0
Name: 873, dtype: object